@model Proyecto_1__CRUD.Models.Cliente

@{
    ViewData["Title"] = "Eliminar Cliente";
}

<h1 class="mb-4 text-center">Eliminar Cliente</h1>

<div class="row justify-content-center">
    <div class="col-md-6">

        <div class="card">
            <div class="card-header text-center">
                <h5>Confirmación de Eliminación</h5>
            </div>
            <div class="card-body">
                <h3 class="text-center">¿Estás seguro de que deseas eliminar este cliente?</h3>
                <hr />
                <dl class="row">
                    <dt class="col-sm-6 fw-bold">
                        Identificación:
                    </dt>
                    <dd class="col-sm-6">
                        @Model.Identificacion
                    </dd>

                    <dt class="col-sm-6 fw-bold">
                        Nombre Completo:
                    </dt>
                    <dd class="col-sm-6">
                        @Model.NombreCompleto
                    </dd>

                    <dt class="col-sm-6 fw-bold">
                        Provincia:
                    </dt>
                    <dd class="col-sm-6">
                        @Model.Provincia
                    </dd>

                    <dt class="col-sm-6 fw-bold">
                        Cantón:
                    </dt>
                    <dd class="col-sm-6">
                        @Model.Canton
                    </dd>

                    <dt class="col-sm-6 fw-bold">
                        Distrito:
                    </dt>
                    <dd class="col-sm-6">
                        @Model.Distrito
                    </dd>

                    <dt class="col-sm-6 fw-bold">
                        Direccion Exacta:
                    </dt>
                    <dd class="col-sm-6">
                        @Model.DireccionExacta
                    </dd>

                    <dt class="col-sm-6 fw-bold">
                        Preferencia Invierno:
                    </dt>
                    <dd class="col-sm-6">
                        @Model.PreferenciaInvierno
                    </dd>

                    <dt class="col-sm-6 fw-bold">
                        Preferencia Verano:
                    </dt>
                    <dd class="col-sm-6">
                        @Model.PreferenciaVerano
                    </dd>
                </dl>

                <form asp-action="Delete" method="post">
                    <input type="hidden" asp-for="Identificacion" />
                    <div class="form-group mb-3 text-center">
                        <input type="submit" value="Eliminar" class="btn btn-danger me-2" />
                        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
