@model Proyecto_1__CRUD.Models.Maquinaria

@{
    ViewData["Title"] = "Eliminar Maquinaria";
}

<h1 class="mb-4 text-center">Eliminar Maquinaria</h1>

<div class="row justify-content-center">
    <div class="col-md-6">

        <div class="card">
            <div class="card-header text-center">
                <h5>Confirmación de Eliminación</h5>
            </div>
            <div class="card-body">
                <h3 class="text-center">¿Estás seguro de que deseas eliminar esta maquinaria?</h3>
                <hr />
                <dl class="row">
                    <dt class="col-sm-6 fw-bold">
                        ID Inventario:
                    </dt>
                    <dd class="col-sm-6">
                        @Model.IdInventario
                    </dd>

                    <dt class="col-sm-6 fw-bold">
                        Descripción:
                    </dt>
                    <dd class="col-sm-6">
                        @Model.Descripcion
                    </dd>

                    <dt class="col-sm-6 fw-bold">
                        Tipo:
                    </dt>
                    <dd class="col-sm-6">
                        @Model.Tipo
                    </dd>

                    <dt class="col-sm-6 fw-bold">
                        Horas de Uso Actuales:
                    </dt>
                    <dd class="col-sm-6">
                        @Model.HorasUsoActuales
                    </dd>

                    <dt class="col-sm-6 fw-bold">
                        Horas de Uso Máximo por Día:
                    </dt>
                    <dd class="col-sm-6">
                        @Model.HorasUsoMaximoDia
                    </dd>

                    <dt class="col-sm-6 fw-bold">
                        Horas de Uso para Mantenimiento:
                    </dt>
                    <dd class="col-sm-6">
                        @Model.HorasUsoParaMantenimiento
                    </dd>
                </dl>

                <form asp-action="Delete" method="post">
                    <input type="hidden" asp-for="IdInventario" />
                    <div class="form-group mb-3 text-center">
                        <input type="submit" value="Eliminar" class="btn btn-danger me-2" />
                        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
