@model IEnumerable<Proyecto_1__CRUD.Models.Mantenimiento>

@{
    ViewData["Title"] = "Mantenimiento";
}

<h1 class="card-title mb-4">Mantenimiento</h1>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show mb-3 col-md" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="mb-3 d-flex justify-content-between">
    <div class="col-4">
        <form method="get" asp-action="Index" id="searchForm">
            <div class="input-group">
                <input type="text" name="searchTerm" id="searchInput" class="form-control form-control-sm" placeholder="Buscar por ID de Mantenimiento" />
                <button type="submit" class="btn btn-primary btn-sm">Buscar</button>
            </div>
        </form>
    </div>
    <a asp-action="Create" class="btn btn-primary">Nuevo</a>
</div>


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-6 mb-4">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">Mantenimiento ID: @Html.DisplayFor(modelItem => item.IdMantenimiento)</h5>
                    <p><strong>ID del Cliente:</strong> @Html.DisplayFor(modelItem => item.IdCliente)</p>
                    <p><strong>Fecha Ejecutada:</strong> @item.FechaEjecutado.ToShortDateString()</p>
                    <p><strong>Fecha Agendada:</strong> @item.FechaAgendado.ToShortDateString()</p>
                    <p><strong>Cantidad de m² de la Propiedad:</strong> @Html.DisplayFor(modelItem => item.M2Propiedad)</p>
                    <p><strong>Cantidad de m² de Cerca Viva:</strong> @Html.DisplayFor(modelItem => item.M2CercaViva)</p>
                    <p><strong>Días sin Chapia:</strong> @Html.DisplayFor(modelItem => item.DiasSinChapia)</p>
                    <p><strong>Fecha Siguiente Chapia:</strong> @item.FechaSiguienteChapia.ToShortDateString()</p>
                    <p><strong>Tipo de Zacate:</strong> @Html.DisplayFor(modelItem => item.TipoZacate)</p>
                    <p><strong>Producto Aplicado:</strong> @Html.DisplayFor(modelItem => item.ProductoAplicadoDisplay)</p>
                    <p><strong>Producto:</strong> @Html.DisplayFor(modelItem => item.Producto)</p>
                    <p><strong>Costo de Chapia por m²:</strong> @Html.DisplayFor(modelItem => item.CostoChapiaPorM2)</p>
                    <p><strong>Costo de Aplicación de Producto por m²:</strong> @Html.DisplayFor(modelItem => item.CostoAplicacionProductoPorM2)</p>
                    <p><strong>IVA (%):</strong> @Html.DisplayFor(modelItem => item.IVA)</p>
                    <p><strong>Estado del Mantenimiento:</strong> @Html.DisplayFor(modelItem => item.Estado)</p>
                    <p><strong>Costo Total:</strong> @Html.DisplayFor(modelItem => item.CostoTotal)</p>
                    <div class="d-flex justify-content-end">
                        <a href="@Url.Action("Edit", new { idMantenimiento = item.IdMantenimiento })" class="btn btn-sm btn-primary me-2">Editar</a>
                        <a href="@Url.Action("Delete", new { idMantenimiento = item.IdMantenimiento })" class="btn btn-sm btn-danger">Eliminar</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
